# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcshareddata/
.idea/
*.moved-aside
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# Generated
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# App-specific secret keys file
knowhere/knowhereApp.swift


